@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.move-closer {
	margin-left: -13px;
}
.checkbox-align {
	vertical-align: top !important;
}
.act-important {
	margin-right: 5px;
}
.act-starred {
	margin: 0 10px;
}
.act-additional {
	margin-left: 5px;
}